
#top-shelf {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 320px;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}

#header {
  height: 64px;
  background: #C3372F;
}

#nav-header {
  height: 27px;
  background: #bd1f1f;
}

body {
  width: 100%;
}

#businessInfoHeader {
  float: left;
}

#header-container {
  overflow: auto;
  margin: 20px auto 0 auto;
  width: 960px;
}

#review-container {
  width: 629px;
  padding-right: 45px;
  margin: 0 0 0 15px;
  border-right: 1px solid #e6e6e6;
}

#businessInfoSidebar {
  float:left;
  padding-bottom: 30px;
}

#review-container {
  float: left;
  margin-left: 0;
}
#content-container {
  margin: 40px auto 0 auto;
  width: 990px;
  overflow: auto;
}

#businessInfoSidebar a {
  color: blue;
}

#nav-container {
  height: 27px;
}

.nav {
  font-weight: bold;
  color: white;
  line-height: 27px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 27px;

}

.nav-cont {
  padding: 0 30px;
  float: left;
  height: 27px;
}

.nav-cont:hover {
  background-color: #88312C;
}

#nav-container {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

#logo {
  width: 80px;
  margin-top: 13px;
  float: left;
  margin-right: 20px;
}

.input {
  width: 343px;
  height: 36px;
  border-radius: 3px;
  float: left;
  margin-top: 15px;
  border-style: none;
  margin-right: 2px;
  padding: 0 10px;
}

#head-cont {
  height: 64px;
  margin: 0 auto;
  width: 900px;
}

#photoGallery {
  float: left;
}

#related-top {
  overflow: auto;
  margin-left: 15px;
  width: 629px;
  box-sizing: border-box;
  padding-right: 15px;
}

#related-side, #people-viewed {
  overflow: auto;
  margin-left: 15px;
  width: 298px;
}

.adList__adList___3YOzq {
  box-sizing: border-box !important;
  padding-right: 15px !important;
  border-color: transparent !important;
  width: 629px !important; 
  border-bottom: 1px solid #e6e6e6 !important;
}

.adList__listEntry___1v7iA {
  width: 629px !important;
  border-color: transparent !important;
  border-top: 1px solid #e6e6e6 !important;
  margin: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.adList__listEntry___1v7iA div div div span {
  font-size: 14px;
}

#related-side > .adContent__allContent___2fTaA {
  width: 298px !important;
}

#relate-side > .adList__adList___3YOzq {
  width: 298px !important;
}

#reviews {
  margin: 15px 0;
  overflow: auto;
  width: 650px;
}

.adStyle__bizPic___Z9cNW {
  border: none !important;
  width: 60px !important;
  height: 60px !important;
}
 
.adStyle__bizTitle___2g5bp {
  font-size: 16px !important;
}

.adStyle__rating___VppYF {
  line-height: 40px !important;
  height: 40px !important;
  display: inline-block !important;
}

.adContent__adType___3GyQD {
  display: none !important;
}

.adContent__adType___3GyQD ~ span {
  display: none !important;
}