
<div id="header">
  <div id="head-cont">
    <img id="logo" src="/logo.png">
    <input class="input" type="" name="" placeholder="Find">
    <input class="input" type="" name="" placeholder="Near">
  </div>
</div>
<div id="nav-header">
  <div id="nav-container">
    <div class="nav-cont">
      <div class="nav"><i class="fas fa-utensils"></i>  Restaurants</div>
    </div>
    <div class="nav-cont">
      <div class="nav"><i class="fas fa-glass-martini"></i>  Nightlife</div>
    </div>
    <div class="nav-cont">
      <div class="nav"><i class="fas fa-wrench"></i>  Home Services</div>
    </div> 
    <div class="nav-cont">
      <div class="nav">Write a Review</div>
    </div>
    <div class="nav-cont">
      <div class="nav">Events</div>
    </div class="nav-cont">
    <div class="nav-cont">
      <div class="nav">Talk</div>
    </div>
  </div>
</div>
<div id="top-shelf"></div>